name: Events Demo 1
on: 
  pull_request:
    types: [opened, edited,reopened] # trigger on PR open/edit/reopen
    branches: [main, master, feat/**,dev**-*] 
  workflow_dispatch: # trigger manually  
  push: 
    branches: [main, master, feat/**,dev**-*]  # trigger on push to specified branches main, master feat/new, dev-new
    paths-ignore:
      - 'docs/**'  # ignore changes in docs folder
      - '.github/workflows/*'  # ignore changes in workflow files

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Output event data
        run: echo "${{ toJSON(github.event) }}"
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Test code
        run: npm run test
      - name: Build code
        run: npm run build
      - name: Deploy project
        run: echo "Deploying..."